<!DOCTYPE html>
<html lang="en">

<!--<svg viewBox='100% 100% 100% 100%' xmlns='http://www.w3.org/2000/svg'>
    <filter id='noiseFilter'>
        <feTurbulence type='fractalNoise' baseFrequency='9.01' numOctaves='2' stitchTiles='stitch' />
    </filter>
    <rect width='100%' height='100%' filter='url(#noiseFilter)' />
</svg>-->

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ config.title }}{% endif %}</title>
    <link rel="stylesheet" href="{{ get_url(path="tachyons.css", trailing_slash=false) | safe }}">
    <link rel="stylesheet" href="{{ get_url(path="markdown.css", trailing_slash=false) | safe }}">
    <title>Denmark's Riso Association</title>
</head>

<body>
    <section class="dt mw6 center pt4 pb3 pv5-m pv5-ns">
        <section class="db dtc-ns v-mid-ns">
            <img src="{{ get_url(path="riso.jpg", trailing_slash=false) | safe }}" class="w-70 mw5 w5-ns pl3" />
        </section>
        <section class="db dtc-ns v-mid pl6 pr0-ns pl3-ns fw9">
            <h1 class="mb1 avenir mid-gray">
                Denmark's Riso Association
            </h1>
            <h3 class="mv2 avenir mid-gray">
                Copenhagen, Denmark
            </h3>

        </section>
    </section>
    <section class="dt mw6 center pt2 pb5 pv3-m pv3-ns">
        <p class="db dtc-ns ph4 fw6 avenir mid-gray">
            The purpose of our association is to bring together all those interested in printing Riso and
            other related activities, and in the association to create the ability and desire to take
            responsibility for one&#39;s own life and participate actively and engaged in community life. We
            do that, among other things by creating togetherness, well-being and joy in joint activities
            and by giving the members permission to publish their own stories and works. It is through
            creativity and allowing people to use their voice that people are given the opportunity to
            actively participate in the community and society as a whole.
        </p>
        <p class="db dtc-ns ph4 fw6 avenir mid-gray">Our community is on
            <a href="https://discord.gg/PhMuZgMKwF">discord</a>
            and
            <a href="https://www.instagram.com/risoforeningen_dk/">instagram.</a>
        </p>
    </section>
</body>

</html>